In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("creditcard.csv")

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Creating a time bin to use time as a categorical variable:

In [4]:
day = 3600 * 24
day

df['day']=(df.Time > day)+1
len(df[df.day==1])
len(df[df.day==2])

86400

144787

140020

In [5]:
df['Time_day']=df.Time.apply(lambda x: x if x<=day else x-day)

In [6]:
df['Time_cluster']=pd.cut(df.Time_day,bins=24)

In [7]:
df.groupby('Time_cluster').count()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V23,V24,V25,V26,V27,V28,Amount,Class,day,Time_day
Time_cluster,,,,,,,,,,,,,,,,,,,,,
"(-86.4, 3600.0]",7695,7695,7695,7695,7695,7695,7695,7695,7695,7695,...,7695,7695,7695,7695,7695,7695,7695,7695,7695,7695
"(3600.0, 7200.0]",4222,4222,4222,4222,4222,4222,4222,4222,4222,4222,...,4222,4222,4222,4222,4222,4222,4222,4222,4222,4222
"(7200.0, 10800.0]",3326,3326,3326,3326,3326,3326,3326,3326,3326,3326,...,3326,3326,3326,3326,3326,3326,3326,3326,3326,3326
"(10800.0, 14400.0]",3493,3493,3493,3493,3493,3493,3493,3493,3493,3493,...,3493,3493,3493,3493,3493,3493,3493,3493,3493,3493
"(14400.0, 18000.0]",2208,2208,2208,2208,2208,2208,2208,2208,2208,2208,...,2208,2208,2208,2208,2208,2208,2208,2208,2208,2208
"(18000.0, 21600.0]",2990,2990,2990,2990,2990,2990,2990,2990,2990,2990,...,2990,2990,2990,2990,2990,2990,2990,2990,2990,2990
"(21600.0, 25200.0]",4102,4102,4102,4102,4102,4102,4102,4102,4102,4102,...,4102,4102,4102,4102,4102,4102,4102,4102,4102,4102
"(25200.0, 28800.0]",7242,7242,7242,7242,7242,7242,7242,7242,7242,7242,...,7242,7242,7242,7242,7242,7242,7242,7242,7242,7242
"(28800.0, 32400.0]",10275,10275,10275,10275,10275,10275,10275,10275,10275,10275,...,10275,10275,10275,10275,10275,10275,10275,10275,10275,10275
"(32400.0, 36000.0]",15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840
"(36000.0, 39600.0]",16601,16601,16601,16601,16601,16601,16601,16601,16601,16601,...,16601,16601,16601,16601,16601,16601,16601,16601,16601,16601
"(39600.0, 43200.0]",16857,16857,16857,16857,16857,16857,16857,16857,16857,16857,...,16857,16857,16857,16857,16857,16857,16857,16857,16857,16857
"(43200.0, 46800.0]",15417,15417,15417,15417,15417,15417,15417,15417,15417,15417,...,15417,15417,15417,15417,15417,15417,15417,15417,15417,15417
"(46800.0, 50400.0]",15367,15367,15367,15367,15367,15367,15367,15367,15367,15367,...,15367,15367,15367,15367,15367,15367,15367,15367,15367,15367
"(50400.0, 54000.0]",16568,16568,16568,16568,16568,16568,16568,16568,16568,16568,...,16568,16568,16568,16568,16568,16568,16568,16568,16568,16568
"(54000.0, 57600.0]",16460,16460,16460,16460,16460,16460,16460,16460,16460,16460,...,16460,16460,16460,16460,16460,16460,16460,16460,16460,16460
"(57600.0, 61200.0]",16457,16457,16457,16457,16457,16457,16457,16457,16457,16457,...,16457,16457,16457,16457,16457,16457,16457,16457,16457,16457
"(61200.0, 64800.0]",16164,16164,16164,16164,16164,16164,16164,16164,16164,16164,...,16164,16164,16164,16164,16164,16164,16164,16164,16164,16164
"(64800.0, 68400.0]",17036,17036,17036,17036,17036,17036,17036,17036,17036,17036,...,17036,17036,17036,17036,17036,17036,17036,17036,17036,17036
"(68400.0, 72000.0]",15651,15651,15651,15651,15651,15651,15651,15651,15651,15651,...,15651,15651,15651,15651,15651,15651,15651,15651,15651,15651
"(72000.0, 75600.0]",16757,16757,16757,16757,16757,16757,16757,16757,16757,16757,...,16757,16757,16757,16757,16757,16757,16757,16757,16757,16757
"(75600.0, 79200.0]",17708,17708,17708,17708,17708,17708,17708,17708,17708,17708,...,17708,17708,17708,17708,17708,17708,17708,17708,17708,17708
"(79200.0, 82800.0]",15433,15433,15433,15433,15433,15433,15433,15433,15433,15433,...,15433,15433,15433,15433,15433,15433,15433,15433,15433,15433
"(82800.0, 86400.0]",10938,10938,10938,10938,10938,10938,10938,10938,10938,10938,...,10938,10938,10938,10938,10938,10938,10938,10938,10938,10938

In [8]:
df_new = df.drop(columns=['Time','day','Time_day'])

In [9]:
df_new = pd.get_dummies(df_new)

In [10]:
df_new.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class',
       'Time_cluster_(-86.4, 3600.0]', 'Time_cluster_(3600.0, 7200.0]',
       'Time_cluster_(7200.0, 10800.0]', 'Time_cluster_(10800.0, 14400.0]',
       'Time_cluster_(14400.0, 18000.0]', 'Time_cluster_(18000.0, 21600.0]',
       'Time_cluster_(21600.0, 25200.0]', 'Time_cluster_(25200.0, 28800.0]',
       'Time_cluster_(28800.0, 32400.0]', 'Time_cluster_(32400.0, 36000.0]',
       'Time_cluster_(36000.0, 39600.0]', 'Time_cluster_(39600.0, 43200.0]',
       'Time_cluster_(43200.0, 46800.0]', 'Time_cluster_(46800.0, 50400.0]',
       'Time_cluster_(50400.0, 54000.0]', 'Time_cluster_(54000.0, 57600.0]',
       'Time_cluster_(57600.0, 61200.0]', 'Time_cluster_(61200.0, 64800.0]',
       'Time_cluster_(64800.0, 68400.0]', 'Time_cluster_(68400.0, 72000.0]',
       'Time_cluster_(72000.0, 75600.0]', 'Time_cluster_(75600.0, 79200.0]',
       'Time_cluster_(79200.0, 82800.0]', 'Time_cluster_(82800.0, 86400.0]'],
      dtype='object')

Splitting the data into train, val and test set:

In [11]:
X = df_new.drop(columns=['Class'])
y = df_new.Class

len(X)
len(y)

284807

284807

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
def train_val_test_split(X,y,test_size,val_size):
    X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, random_state=0, test_size = test_size, stratify=y)
    X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, random_state=0, test_size = val_size)
    return X_train, X_val, X_test, y_train, y_val, y_test

In [14]:
X_train, X_val, X_test, y_train, y_val, y_test = train_val_test_split(X,y,test_size=0.12221,val_size=0.2)

In [15]:
len(X_train)
len(X_val)
len(X_test)
len(y_train)
len(y_val)
len(y_test)

y_train.sum()
y_val.sum()
y_test.sum()

200000

50000

34807

200000

50000

34807

341

91

60

In [16]:
y_test.shape

(34807,)

Now you can use X_train and y_train for training, X_val and y_val for validation and X_test and y_test for testing.

Saving the data:

In [17]:
X_train.to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/X_train.csv',index = False)
X_val.to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/X_val.csv',index = False)
X_test.to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/X_test.csv',index = False)
y_train.to_frame('y').to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/y_train.csv',index = False)
y_val.to_frame('y').to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/y_val.csv',index = False)
y_test.to_frame('y').to_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/y_test.csv',index = False)

In [54]:
y_test_read = pd.read_csv('C:/Users/prodi/Documents/SCU/Machine Learning/Final Project/Credit card/data/y_test.csv')
y_test_read.shape

(34807, 1)

Note: for oversampling I suggest to use the package imblearn. Here is the installation guide: https://pypi.org/project/imbalanced-learn/

A sample code to use this (I didn't test the code, I just put it here for reference):

In [ ]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

X, y = make_classification(n_classes=2, class_sep=2,
weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=10)

print('Original dataset shape {}'.format(Counter(y)))
#Original dataset shape Counter({1: 900, 0: 100})

sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_sample(X, y)
print('Resampled dataset shape {}'.format(Counter(y_res)))
#Resampled dataset shape Counter({0: 900, 1: 900})